<!doctype html>
<html>

<head>
  <script type="text/javascript" src="/manager/webserver/assets/js/jquery.js"></script>
  <script type="text/javascript" src="/manager/webserver/assets/js/angular.js"></script>
  <script>
    angular.module('homeydashSettings', [])
      .controller('settingsCtrl', ['$scope', function($scope) {
        $scope.configCheck = false;
        $scope.config = {};
        $scope.serverStatus = null;


        Homey.get('config', function(err, state) {
          if (state) {
            $scope.config = state;
            console.log(state);
            $scope.$apply();
          };
        });


        $scope.saveConfig = function() {
          Homey.set('config', $scope.config);
          console.log('settings saved!');
        };

        $scope.importConfig = function() {
          $scope.config = $scope.importedconfig;
          Homey.set('config', $scope.importedconfig);
          console.log('Imported config!');
        }

        $scope.fileNameChanged = function(ele) {
          var file = ele.files[0];
          if (file.name == 'HomeyDash.json') {
            $scope.configCheck = true;
          }
          var reader = new FileReader();
          reader.onload = function() {
            $scope.importedconfig = JSON.parse(reader.result).result;
            $scope.$apply();
          }
          reader.readAsText(ele.files[0]);
        }


      }]);

    function onHomeyReady() {
      Homey.ready();
      angular.bootstrap(document, ['homeydashSettings']);
    }
  </script>
</head>

<body ng-controller="settingsCtrl" ng-cloak>

  <h1>HomeyDash Settings</h1>


  <fieldset>
    <legend>HomeyDash</legend>

    <button onclick="window.open('/app/com.swttt.homeydash/','_blank');">Go to HomeyDash</button>
    <button onclick="window.open('/app/com.swttt.homeydash/#!/settings','_blank');">Go to settings</button>
  </fieldset>


  <fieldset>
    <legend>Persist HomeyDash (disable login on session end)</legend>
    <p>iOS devices end their session on closing or switching apps. Android does the same but takes a while. Since the cookie homey stores is a session cookie, this gets removed and you need to login again. People who don't want to login can use the setting
      below to store the bearer_token in the localstorage. On every session restart, HomeyDash will add the bearer token to the cookies.<br/>
      <b>DO NOTE: Localstorage isn't 100% save to store things like a bearer_token. Use this at your own risk!</b><br/><br/>
      <small>To get the dashboard working on iOS (get past the login screen without cookies set), you will have to visit your cloud url first. (https://YOURCLOUDID.homey.athom.com).</small>
    </p>
    <input ng-change="saveConfig()" type="checkbox" name="forcepersist" ng-model="config.forcepersist"> I read the above warning, and agree to store my bearer token inside the localStorage<br/>
    <label for="bearertoken">Bearer token</label>
    <input ng-disabled="!config.forcepersist" id="bearertoken" ng-disabled="!config.forcepersist" ng-model="config.bearertoken" type="text" value="">
    <button ng-click="saveConfig()">Save</button>

  </fieldset>

  <fieldset>
    <legend>Export Config</legend>
    <a target="_self" href="/api/app/com.swttt.homeydash/config.json" download="HomeyDash.json">
      <button>Download config</button>
    </a>

  </fieldset>

  <fieldset>
    <legend>Import config</legend>
    <p>{{importConfigFile}}</p>
    <input type="file" onchange="angular.element(this).scope().fileNameChanged(this)" name="file" /> <button ng-disabled="!configCheck" ng-click="importConfig()">Import</button>
  </fieldset>






</body>

</html>
