<!doctype html>
<html>

<head>
    <script type="text/javascript" src="/manager/webserver/assets/js/jquery.js"></script>
    <script type="text/javascript" src="/manager/webserver/assets/js/angular.js"></script>
    <script>
        angular.module('homeydashSettings', [])
            .controller('settingsCtrl', ['$scope', function($scope) {

                $scope.config = {};
                $scope.serverStatus = null;


                Homey.get('config', function(err, state) {
                    if (state) {
                        $scope.config = state;
                        console.log(state);
                        $scope.$apply();
                    };
                });


                $scope.saveConfig = function() {
                    Homey.set('config', $scope.config);




                };



            }]);

        function onHomeyReady() {
            Homey.ready();
            angular.bootstrap(document, ['homeydashSettings']);
        }
    </script>
</head>

<body ng-controller="settingsCtrl" ng-cloak>
    <div style="width:300px;">
        <img style="" src="logo.png" />

        <div class="field row">
            <label for="bearertoken">Bearer Token</label>
            <input style="width:280px;" id="bearertoken" name="bearertoken" ng-model="config.bearertoken" type="text" ng-disabled="serverStatus" />
        </div>




        <div style="width:300px;">
            <button id="saveConfig" class="" style="display:inline-block;" ng-click="saveConfig()">Save</button>
        </div>
    </div>



</body>

</html>
